body {
  color: red;
  background-color: yellow;
  font-color: white;
}

header nav ul {
  list-style-type: none;
}

ul {
  font-color: red;
  font-weight: bold;
  font-size: 3em;
}

div {
  background-color: transparent;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
}
